   body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        text-align: center; 
    }

    header {
        background-color: #333;
        color: white;
        padding: 20px;
    }

    main {
        padding: 40px;
    }

    button {
        padding: 10px 20px;
        background-color: #0077cc;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
        
    button:hover {
        background-color: #f4f4f4
    }

    footer {
        margin-top: 40px;
        padding: 20px;
        background-color: #333;
        color: white
    }


